{% extends "base/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block content %}

<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href = "/admin" class="brand-wrap">
      <img
        src="{% static 'admins/assets/imgs/theme/logo.png' %}"
        class="logo"
        alt="Evara Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/products">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/admin/products/add_product">
          <i class="icon material-icons md-add_box"></i>
          <span class="text">Add product</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="#">
          <i class="icon material-icons md-person"></i>
          <span class="text">Account</span>
        </a>
        <div class="submenu">
          <a href="/admin/users">User</a>
          <a href="/admin/staffs">Staff</a>
        </div>
      </li>
      <li class="menu-item has-submenu ">
        <a class="menu-link" href="#"> <i class="icon material-icons md-store"></i>
            <span class="text">Category</span>
        </a>
        <div class="submenu">
            <a href="/admin/category/add">Add</a>
            <a href="/admin/category" >Listing</a>
        </div>
    </li>
    <li class="menu-item has-submenu">
      <a class="menu-link" href="#"><i class="icon material-icons md-stars"></i>
          <span class="text">Color</span>
      </a>
      <div class="submenu">
          <a href="/admin/color">Listing</a>
          <a href="/admin/color/add">Add</a>
      </div>
    </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/order">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
        
      </li>
      

      

      <li class="menu-item active">
        <a class="menu-link" href="/admin/review">
          <i class="icon material-icons md-comment"></i>
          <span class="text">Reviews</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/brand">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Brands</span>
        </a>
      </li>
      
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/banner/">
          <i class="icon material-icons md-image"></i>
          <span class="text">Banner</span>
        </a>
        
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/coupon">
          <i class="icon material-icons md-redeem"></i>
          <span class="text"> Coupon </span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>
<main class="main-wrap">
<header class="main-header navbar" style="display: flex; justify-content: flex-end;">
    <div class="col-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn-icon" href="/admin/logouting">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#"><i class="material-icons md-nights_stay"></i></a>
            </li>
        </ul>
    </div>
</header>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Reviews</h2>
            
        </div>
        <div>
            <input type="text" placeholder="Search by name" class="form-control bg-white">
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            
                            <th>Product</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                        <tr>
                            <td>{{review.product.name}}</td>
                            <td><b>{{review.user.user.email}}</b></td>
                            
                            
                            <td>{{review.created_at}}</td>
                            <td class="text-end">
                                <a href="/admin/review/detail/{{review.uid}}" class="btn btn-md rounded font-sm h-auto">Detail</a> 
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div> <!-- table-responsive//end -->
        </div>
        <!-- card-body end// -->
    </div>
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                {% if reviews.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ reviews.previous_page_number }}">Previous</a></li>
                {% endif %}
    
                {% for i in reviews.paginator.page_range %}
                <li class="page-item {% if reviews.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
    
                {% if reviews.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ reviews.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ reviews.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->
<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
{% endblock content %}