{% extends "base/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block content %}

<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href = "/admin" class="brand-wrap">
      <img
        src="{% static 'admins/assets/imgs/theme/logo.png' %}"
        class="logo"
        alt="Evara Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/products">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item ">
        <a class="menu-link" href="/admin/products/add_product">
          <i class="icon material-icons md-add_box"></i>
          <span class="text">Add product</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="#">
          <i class="icon material-icons md-person"></i>
          <span class="text">Account</span>
        </a>
        <div class="submenu">
          <a href="/admin/users">User</a>
          <a href="/admin/staffs">Staff</a>
        </div>
      </li>
      <li class="menu-item has-submenu ">
        <a class="menu-link" href="#"> <i class="icon material-icons md-store"></i>
            <span class="text">Category</span>
        </a>
        <div class="submenu">
            <a href="/admin/category/add">Add</a>
            <a href="/admin/category" >Listing</a>
        </div>
    </li>
    <li class="menu-item has-submenu">
      <a class="menu-link" href="#"><i class="icon material-icons md-stars"></i>
          <span class="text">Color</span>
      </a>
      <div class="submenu">
          <a href="/admin/color">Listing</a>
          <a href="/admin/color/add">Add</a>
      </div>
    </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/order">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
        
      </li>
      

      

      <li class="menu-item active">
        <a class="menu-link" href="/admin/review">
          <i class="icon material-icons md-comment"></i>
          <span class="text">Reviews</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/brand">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Brands</span>
        </a>
      </li>
      
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/banner">
          <i class="icon material-icons md-image"></i>
          <span class="text">Banner</span>
        </a>
        
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/coupon">
          <i class="icon material-icons md-redeem"></i>
          <span class="text"> Coupon </span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>
<main class="main-wrap">
<header class="main-header navbar" style="display: flex; justify-content: flex-end;">
    <div class="col-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn-icon" href="/admin/logouting">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#"><i class="material-icons md-nights_stay"></i></a>
            </li>
        </ul>
    </div>
</header>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Review  Detail</h2>
            
        </div>
       
    </div>
    <div class="card mb-4">
        
        <div class="card-body">
            <h5 class="card-title">User Review</h5>
            <p class="card-text">{{review.review}}</p>
            <a href="/review/block/{{review.uid}}" class="btn btn-danger h-auto" >Block Content</a>
        </div>
        
    </div>
    
</section> <!-- content-main end// -->
<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
            document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
{% endblock content %}