{% extends 'base/base.html' %} {% load static %} {% block head %}

<title>FASHION</title>

{% endblock head %} {% block content %}


{% include "base/nav.html" %}
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% include "base/message.html" %}
                <h1 class="cart-heading">Cart</h1>
                <form action="/checkout" method="post">
                    <div class="table-content table-responsive">
                        <table class="table-striped">
                            <thead class="bg-dark">
                                <tr>
                                    <th class="text-white">remove</th>
                                    <th class="text-white">images</th>
                                    <th class="text-white">Product</th>
                                    <th class="text-white">Price</th>
                                    <th class="text-white">Quantity</th>
                                    <th class="text-white">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if products %} 
                                    {% for product in products %}
                                <tr>
                                    <td class="product-remove">
                                        <a href="/product/carts/delete/{{product.uid}}"
                                            ><i class="pe-7s-close text-bg-danger"></i
                                        ></a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="/product/detail/{{product.uid}}">
                                           
                                            <img
                                                src="{{product.product.main_image.url}}"
                                                alt="Thumbnail"
                                                class="img-thumbnail"
                                            />
                                
                                            
                                        </a>
                                    </td>

                                    <td class="product-name">
                                        <a href="/product/detail/{{product.uid}}">{{product.product.name}}</a>
                                        {% if product.product.stock < product.quantity %}
                                            <p class="text-danger" >Out of Stock</p>
                                        {% endif %}
                                    </td>
                                    <td class="product-price-cart">
                                        <span class="amount"
                                            >₹ {{product.product.selling_price}}</span
                                        >
                                    </td>

                                    <td class="text-center">
                                        <div class="btn-group" role="group" aria-label="Quantity">
                                            <a
                                                href="/product/carts/dec/{{product.uid}}"
                                                class="btn btn-danger h-auto"
                                                id="minusBtn"
                                            >
                                                <i class="ti ti-minus"></i>
                                            </a>
                                            <span id="quantity" class="btn btn-light h-auto">{{product.quantity}}</span>
                                            {% if product.quantity <  product.product.stock%}
                                            <a
                                                href="/product/carts/inc/{{product.uid}}"
                                                class="btn btn-dark h-auto"
                                                id="plusBtn"
                                            >
                                                <i class="ti ti-plus"></i>
                                            </a>
                                            {% else %}
                                            <a
                                                href="#"
                                                class="btn btn-dark h-auto"
                                                id="plusBtn"
                                                style="pointer-events : none"
                                            >
                                                <i class="ti ti-plus"></i>
                                            </a>
                                            {% endif %}
                                            
                                        </div>
                                    </td>

                                    <td class="product-subtotal">
                                        ₹{{product.total_price}}
                                    </td>
                                </tr>
                               {% endfor %}
                               {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% if products %}
                    
                    
                    <div class="row">
                        <div class="col-md-5 ms-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal<span>₹{{grand_total}}</span></li>
                                    <li>
                                        Shipping Fee 
                                        <span> ₹ 50 </span>
                                    </li>
                                    <li>Total<span>₹{{grand_total | add:50}}</span></li>
                                </ul>
                                {% if out_of_stock is False %}
                                  <a href="/checkout/user/{{request.user.profile.uid}}" class="btn btn-dark h-auto">Proeed to checkout</a>
                                {% else %}
                                  <a href="#" class="btn btn-secandary h-auto">Out of stock</a>
                                {% endif %}
                                  
                                    
                                
                                


                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="text-center">
                        <p>No Items in the cart</p>
                        <a href="/shop" class="btn btn-dark h-auto">Shop Now</a>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- shopping-cart-area end -->

{% endblock %}      