{% extends 'base/base.html' %} {% load static %} {% block head %}

<title>FASHION</title>

{% endblock head %} {% block content %}


{% include "base/nav.html" %}
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% include "base/message.html" %}
                <h1 class="cart-heading">Cart</h1>
                <form action="/checkout" method="post">
                    <div class="table-content table-responsive">
                        <table class="table-striped">
                            <thead class="bg-dark">
                                <tr>
                                    <th class="text-white">remove</th>
                                    <th class="text-white">images</th>
                                    <th class="text-white">Product</th>
                                    <th class="text-white">Price</th>
                                    <th class="text-white">Size</th>
                                    <th class="text-white">Quantity</th>
                                    <th class="text-white">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if products %} 
                                    {% for product in products %}
                                <tr>
                                    <td class="product-remove">
                                        <a href="/product/carts/delete/{{product.uid}}"
                                            ><i class="pe-7s-close text-bg-danger"></i
                                        ></a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="/product/detail/{{product.product.uid}}">
                                           
                                            <img
                                                src="{{product.product.main_image.url}}"
                                                alt="Thumbnail"
                                                class="img-thumbnail"
                                            />
                                
                                            
                                        </a>
                                    </td>

                                    <td class="product-name">
                                        <a href="/product/detail/{{ product.product.uid }}">{{ product.product.name }}</a>
                                        {% if product.is_out_of_stock %}
                                            <p class="text-danger">Out of Stock</p>
                                        {% endif %}
                                    </td>
                                    
                                    
                                    <td class="product-price-cart">
                                        <span class="amount"
                                            >₹ {{product.product.selling_price}}</span
                                        >
                                    </td>
                                    <td class="product-price-cart">
                                        <span class="amount"
                                            >{{product.size.size}}</span
                                        >
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group" aria-label="Quantity">
                                          <a
                                            href="javascript:void(0);"
                                            class="btn btn-danger h-auto minusBtn"
                                            onclick="updateQuantity('{{ product.uid }}', 'dec', '{{product.product.uid}}')"
                                          >
                                            <i class="ti ti-minus"></i>
                                          </a>
                                          <span id="quantity-{{ product.uid }}" class="btn btn-light h-auto">{{ product.quantity }}</span>
                                          <a
                                            href="javascript:void(0);"
                                            class="btn btn-dark h-auto plusBtn"
                                            onclick="updateQuantity('{{ product.uid }}', 'inc', '{{product.product.uid}}')"
                                          >
                                            <i class="ti ti-plus"></i>
                                          </a>
                                        </div>
                                      </td>
                                      

                                    <td class="product-subtotal" >
                                        <span>₹</span><span id="total-{{ product.uid }}" >{{product.calculate_sub_total}}</span>
                                    </td>
                                </tr>
                               {% endfor %}
                               {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% if products %}
                    
                    
                    <div class="row">
                        <div class="col-md-5 ms-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal<span id="grandTotal">{{grand_total}}</span><span>₹</span></li>
                                    <li>
                                        Shipping Fee 
                                        <span> ₹ 50 </span>
                                    </li>
                                   
                                </ul>
                                {% if out_of_stock is False %}
                                  <a href="/checkout/user/{{request.user.profile.uid}}" class="btn btn-dark h-auto">Proeed to checkout</a>
                                {% else %}
                                  <a href="#" class="btn btn-secandary h-auto">Out of stock</a>
                                {% endif %}
                                  
                                    
                                
                                


                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="text-center">
                        <p>No Items in the cart</p>
                        <a href="/shop" class="btn btn-dark h-auto">Shop Now</a>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- shopping-cart-area end -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateQuantity(productUid, action, productid) {
        // Send an AJAX request to update the quantity
        $.ajax({
            url: `/product/carts/${action}/${productUid}/${productid}`,
            type: 'GET',
            success: function (data) {
                if (data.quantity !== undefined && data.subTotal !== undefined && data.grandTotal !== undefined) {
                    // Update the quantity displayed on the page
                    const quantityElement = $('#quantity-' + productUid);
                    quantityElement.text(data.quantity);

                    // Update the subTotal displayed on the page
                    const subTotal = $('#total-' + productUid);
                    subTotal.text(data.subTotal);

                    // Update the grandTotal displayed on the page
                    const grandTotal = $('#grandTotal');
                    grandTotal.text(data.grandTotal);

                    // Handle enabling/disabling the buttons based on stock
                    const plusBtn = $('#plusBtn-' + productUid);
                    if (data.is_out_of_stock) {
                        plusBtn.prop('disabled', true);
                    } else {
                        plusBtn.prop('disabled', false);
                    }

                    // Disable the "decrease" button if the quantity is at its minimum
                    const minusBtn = $('#minusBtn-' + productUid);
                    if (data.quantity <= 1) {
                        minusBtn.prop('disabled', true);
                    } else {
                        minusBtn.prop('disabled', false);
                    }
                } else if (data.error) {
                    console.log('Error:', data.error);
                } else {
                    console.log('Invalid response data:', data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>


  
  
{% endblock %}      