{% extends 'base/base.html' %} {% load static %} {% block head %}

<title>FASHION</title>

{% endblock head %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a
      class="navbar-brand text-white ml-3"
      href="/"
      height="36"
      style="font-family: 'Oswald', sans-serif"
    >
      FASHION
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link ml-3" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
          <a class="nav-link active" href="/account/wishlist/{{user.profile.uid}}"
            >Wishlist</a
          >
        </li>
        <li>
          <a class="nav-link" href="/account/cart/{{user.profile.uid}}">Cart</a>
        </li>
        <li><a class="nav-link" href="/account/logouting/">Logout</a></li>
        {% else %}
        <li><a class="nav-link" href="/account/register/">Sign Up</a></li>
        <li><a class="nav-link" href="/account/login/">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="cart-main-area pt-95 pb-100 wishlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">wishlist</h1>
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>remove</th>
                                    <th>images</th>
                                    <th>Product</th>
                                    <th>Price</th>
                      
                 
                                </tr>
                            </thead>
                            <tbody>
                                {% if products %}
                                    {% for product in products %}
                                        <tr>
                                            <td class="product-remove"><a href="/product/wishlist/{{user.uid}}/{{product.product.uid}}"><i class="pe-7s-close"></i></a></td>
                                            <td class="product-thumbnail" >
                                                <a href="product/detail/{{product.product.uid}}" ><img style="height : 120px; " src="{{product.product.main_image.url}}" alt=""></a>
                                            </td>
                                            <td class="product-name "><a class="text-decoration-none text-black" href="product/detail/{{product.product.uid}}">{{product.product.name}}</a></td>
                                            <td class="product-price-cart"><span class="amount">Rs.{{product.product.selling_price}}</span></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4" >
                                            <h1 class="mt-5">No wishlist products</h1>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}
