{% extends "base/base.html" %}
{% block head %}{% endblock head %}
{% block content %}
{% include "base/nav.html" %}
<div class="container mt-4">
    <h2>My Orders</h2>
    {% include "base/message.html" %}
    <!-- Bootstrap List Group for Orders -->
    {% if orders %}
    <ul class="list-group mt-5">
        {% for order in orders %}
        <li class="list-group-item">
            <div class="row">
                <!-- Image on the right -->
                <div class="col-md-3 aspect-ratio aspect-ratio-1x1">
                    <img class="img-fluid" src="{{order.product.main_image.url}}" alt="Card image cap" />
                </div>
                <!-- Text on the left -->
                <div class="col-md-6">
                    <div class="card-body text-start mt-2">
                        <!-- Center align text content -->
                        <h6 class="card-title mb-3">Order Number: {{order.order.uid}}</h5>
                        <p class="card-text mb-2">Order Date: {{ order.created_at|date:"d F Y" }}</p> 
                        <p class="card-text mb-2">Order Time: {{ order.created_at|date:"h:i A" }}</p>
                        <p class="card-text">Ship To Name: <strong class="text-primary">{{order.order.user.first_name}}</strong></p>
                        <p class="card-text">Order Status: {% if order.status != 'Canceled' %}<strong class="text-success">{{order.status}}</strong>{% else %}<strong class="text-danger">{{order.status}}</strong>{% endif %}</p>
                        <p class="card-text">Product Price: <strong class="text-dark">₹{{order.product_price}}</strong></p>
                        <p class="card-text">Product Name: <strong class="text-danger">{{order.product.name}}</strong></p>
                        <a href="/account/order_detail/{{order.uid}}" class="btn btn-dark h-auto">View Order</a>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
        
    </ul>
    {% else %}
        <div class="text-center ">
            <p class="fs-5 mt-50 ">You haven't placed any orders yet. Start shopping now!</p>
            <a href="/shop" class="btn btn-dark h-auto">Shop Now</a>
        </div>
    {% endif %}
</div>



{% endblock content %}