{% extends 'base/base.html' %} {% load static %} 
{% block head %}



    
    <title>Product</title>
    
    

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <!-- Include jQuery (required by DataTables) -->
   
{% endblock head %} 
{% block content %}
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href = "/admin" class="brand-wrap">
                <img src="{% static 'admins/assets/imgs/theme/logo.png' %}" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  active">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products/add_product"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users">User</a>
                        <a href="/admin/staffs">Staff</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/category/add">Add</a>
                        <a href="/admin/category" >Listing</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"><i class="icon material-icons md-stars"></i>
                        <span class="text">Color</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/color">Listing</a>
                        <a href="/admin/color/add">Add</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/order"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    
                </li>
                
                
                
                
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar" style="display: flex; justify-content: flex-end;">
            <div class="col-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="/admin/logouting">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"><i class="material-icons md-nights_stay"></i></a>
                    </li>
                </ul>
            </div>
        </header>
        {% include "base/message.html" %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p>List of the products.</p>
                </div>
                <div>
                    
                    <a href="/admin/products/add_product" class="btn btn-primary btn-sm rounded h-auto">Create new</a>
                </div>
            </div>
            <div class="card mb-4 table-responsive p-3">
                <table class="w-100 " id="productTable">
                    <thead class="">
                        <tr class="row align-items-center m-2">
                            <th class="col-lg-1 col-sm-4 col-8 ">
                                <a class="text-decoration-none" href="#">
                                    <div class="">
                                        <h6 class="m-0 text-black ">Image</h6>
                                    </div>
                                    
                                </a>
                            </th>
                            <th class="col-lg-3 col-sm-4 col-8 col-name">
                                <a class="itemside" href="#">
                                   
                                    <div class="info">
                                        <h6 class="mb-0">Name</h6>
                                    </div>
                                </a>
                            </th>
                            <th class="col-lg-1 col-sm-2 col-4 col-price"> 
                                <span>Price</span> 
                            </th>
                            <th class="col-lg-2 col-sm-2 col-4 col-status">
                                <span class="alert">Availability</span>
                            </th>
                            <th class="col-lg-1 col-sm-2 col-4 ">
                                <span class="w-auto">Qty</span>
                            </th>
                            <th class="col-lg-1 col-sm-2 col-4 col-action text-center ">
                                <a href="#" class="text-decoration-none text-secondary font-sm  rounded">
                                    Actions
                                </a>
                            </th>
                        </tr> <!-- row .// -->
                    </thead>
                
              
              
                    <tbody class="card-body">
                        {% for product in products %}
                        <tr class="row align-items-center">
                            <td class="col-lg-1 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <div class="left m-2">
                                        <img src="{{product.main_image.url}}" class="img-sm img-thumbnail" alt="Item">
                                    </div>
                                </a>
                            </td>
                            <td class="col-lg-3 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
        
                                    <div class="info ">
                                        <h6 class="mb-0">{{product.name}}</h6>
                                    </div>
                                </a>
                            </td>
                            <td class="col-lg-1 col-sm-2 col-4 col-price "> 
                                <span class="text-black fs-6">₹{{product.selling_price}}</span> 
                            </td>
                            <td class="col-lg-2 col-sm-2 col-4 col-status">
                                {% if product.is_selling %}
                                <span class="badge rounded-pill alert-success fs-6">Available </span>
                                {% else %}
                                <span class="badge rounded-pill alert-danger fs-6">Not available</span>
                                {% endif %}
                            </td>
                            <td class="col-lg-1 col-sm-2 col-4 ">
                                <span class="text-black fs-6 ">{{product.stock}}</span>
                            </td>
                            <td class="col-lg-2 col-sm-2 col-4 col-action text-end d-flex gap-2">
                                <a href="/admin/product/edit/{{product.uid}}" class="btn btn-sm font-sm rounded btn-info text-white d-flex justify-content-center align-items-center fs-4">
                                   <i class="material-icons md-edit"></i> 
                                </a>
                                {% if product.is_selling is False %}
                                <a href="/admin/product/delete/{{product.uid}}" class="btn btn-sm font-sm btn-success h-auto d-flex justify-content-center align-items-center rounded">
                                    List
                                </a>
                                {% else %}
                                <a href="/admin/product/delete/{{product.uid}}" class="btn btn-sm font-sm btn-danger rounded">
                                    Unlist
                                </a>
                                {% endif %}
                            </td>
                        </tr> <!-- row .// -->
                        {% endfor %}
                    </tbody>
                           
                
            </table> 
        </section> <!-- content-main end// -->

        


        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="{% static 'admins/assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'admins/assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'admins/assets/js/vendors/select2.min.js' %}"></script>
    <script src="{% static 'admins/assets/js/vendors/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'admins/assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
    <!-- Main Script -->
    <script src="{% static 'admins/assets/js/main.js' %}" type="text/javascript"></script>

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


    {% comment %} script of datatable {% endcomment %}
   <script>
    jQuery.noConflict();
    (function($) {
        $(document).ready(function() {
            $('#productTable').DataTable();
        });
    })(jQuery);
</script>


{% endblock content %}