{% extends 'base/base.html' %} {% load static %} {% block head %}

<title>FASHION</title>

{% endblock head %} {% block content %}
{% include "base/nav.html" %}
<style>

    .form-check {
        display: block;
        margin-bottom: 10px;
    }


    .form-check-input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }


    .form-check-label {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }
     
    .form-check-input:checked {
        background-color: black; /* Change the background color to black */
        border-color: black; /* Change the border color to black (optional) */
        color: white; /* Change the text color to white (optional) */
    }


    .form-check-input:checked + .form-check-label {
        font-weight: bold; /* Change the font-weight to bold (optional) */
    }
    /* Style the label for the checkbox */
label[for="use_wallet"] {
    display: inline-block;
    margin-right: 10px; /* Add spacing between the checkbox and label text */
    font-weight: bold;
    color: #333; /* Change the label text color */
}

/* Style the checkbox itself */
#use_wallet {
    display: none; /* Hide the default checkbox */
}

/* Style the custom checkbox icon */
#use_wallet + label::before {
    content: '\2713'; /* Unicode checkmark character */
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #333; /* Border around the checkbox */
    text-align: center;
    line-height: 18px; /* Vertically center the checkmark */
    background-color: #fff; /* Background color of the checkbox */
    color: #333; /* Color of the checkmark */
    font-size: 16px;
    margin-right: 5px; /* Add spacing between the checkbox and label text */
}

/* Style the custom checkbox icon when checked */
#use_wallet:checked + label::before {
    background-color: #333; /* Background color when checked */
    color: #fff; /* Color of the checkmark when checked */
}

/* Adjust the width of "Pay with Razorpay" button when the checkbox is checked */
#use_wallet:checked + label + .container .row .col-md-6.pl-md-2 button#rzp-button1 {
    width: 100%;
}


</style>

<!-- checkout-area start -->
<div class="checkout-area ptb-100">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="checkbox-form">
                        <div class="d-flex">
                            <h3>Select Address</h3>
                            {% if  addresses %}
                            <a href="/account/add_address" class="btn btn-sm btn-dark" title="Add New Address">Add</a>
                            {% endif %}
                        </div>

                        <div class="different-address">
                            <div id="" class="row">
                                {% if addresses %}
                                    {% for address in addresses %}
                                        <div class="col-md-8 mb-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="form-check">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="addressId"
                                                            value="{{address.uid}}"
                                                            required
                                                        />
                                                        <label class="form-check-label" for="address<%= index %>">
                                                            <h5 class="card-title">{{address.user.first_name}}</h5>
                                                            <p class="card-text">
                                                                {{address.street_address}}, {{address.local_place}}, {{address.city}}, {{address.district}},{{address.state}}
                                                                {{address.pincode}}
                                                            </p>
                                                            <p class="card-text">Mobile: +91 {{address.phone_number}}</p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                   <p class="fs-6 text-dark">No Address Found! </p> 
                                    <a class="btn btn-dark h-auto " href="/account/add_address" style="width : 10rem;">Add Address</a>

                                </div>
                                  
                                {% endif %}
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% csrf_token %}
                                   
                                    {% for product in products %}
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            
                                            <small>{{product.product.name}}</small> 
                                            
                                            <strong class="product-quantity"> × {{product.quantity}}</strong>
                                        </td>

                                        <td class="product-total">
                                            <span class="amount">₹ {{product.calculate_sub_total}}</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    
                                    <tr class="cart-shipping fee">
                                        <th>Shipping Fee</th>
                                        <td><span class="amount">₹ 50</span></td>
                                    </tr>
                                    <tr class="cart-wallet-amount">
                                        <th>Wallet</th>
                                        
                                        
                                        
                                        <td><span class="amount text-danger">-₹ {{request.user.profile.wallet.amount}}</span></td>
                                       
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td>
                                            <strong><span id="grand_total_amount" class="amount">₹ {{grand_total | add:50 }}</span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <div class="container">
                                    <div class="row">
                                        {% if addresses %}
                                        <div class="col-md-6 mb-3 pr-md-2">
                                            <input type="checkbox" name="use_wallet" id="use_wallet" value="1">
                                            <label for="use_wallet">Pay with Wallet</label>
                                        </div>
                                        
                                        {% endif %}
                                    </div>
                                </div>
                                {% if addresses %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 pl-md-2">
                                            <button id="rzp-button1" type="submit" name="submit_razorpay" class="btn btn-dark btn-block h-auto">Pay with Razorpay</button>
                                        </div> 
                                        <div class="col-md-6 mb-3 pr-md-2">
                                            <input type="submit" name="submit_cod" class="btn btn-dark btn-block h-auto" value="Place order (Cash on Delivery) " id="place_order_button" />
                                        </div>
                                         
                                    </div>
                                </div>
                                
                                
                                {% else %} 
                                    <span class="text-danger">Please Add an Address</span> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- checkout-area end -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% if cart_changed %}
<script>
    alert("Cart items have changed. Please review your order.");
    window.location.href = "{% url 'checkout_page' user_uid=request.user.profile.uid %}";


</script>
{% endif %}
{% if out_of_stock %}
<script>
    alert("Some items in your cart are out of stock. You will be redirected to the cart page.");
    window.location.href = "{% url 'cart_listing' %}"; 

    
</script>
{% endif %}
<script>
    var useWalletCheckbox = document.getElementById('use_wallet');
    var placeOrderButton = document.getElementById('place_order_button');

    useWalletCheckbox.addEventListener('change', function () {
        if (this.checked) {
            placeOrderButton.style.display = 'none';
        } else {
            placeOrderButton.style.display = 'block';
        }
    });

    // Initialize the display based on the initial state of the checkbox
    if (useWalletCheckbox.checked) {
        placeOrderButton.style.display = 'none';
    } else {
        placeOrderButton.style.display = 'block';
    }
    $(document).ready(function() {
        var useWalletCheckbox = $('#use_wallet');
        var walletAmountRow = $('.cart-wallet-amount');
        var walletAmountSpan = walletAmountRow.find('.amount');
        var grandTotalSpan = $('#grand_total_amount');
        
        // Store the original grand total when the page loads
        var originalGrandTotal = parseFloat(grandTotalSpan.text().replace(/[^\d.-]/g, ''));
        
        // Store the original wallet amount when the page loads
        var originalWalletAmount = parseFloat('{{ request.user.profile.wallet.amount }}');
        
        // Initial state based on checkbox status
        var initialAmount = useWalletCheckbox.prop('checked') ? originalWalletAmount : 0;
        walletAmountSpan.text('₹ ' + initialAmount.toFixed(2));
        
        // Add an event listener to the checkbox
        useWalletCheckbox.on('change', function() {
            // Update the wallet amount based on checkbox status
            var walletAmount = this.checked ? originalWalletAmount : 0;
            walletAmountSpan.text('₹ ' + walletAmount.toFixed(2));
        
            if (this.checked) {
                $.ajax({
                    type: 'POST',
                    url: '/checkout/wallet/',
                    data: {
                        grand_total: grandTotalSpan.text(),
                        wallet: walletAmount, // Include the wallet amount in the data
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data) {
                        // Handle the success response from the server here
                        console.log(data.wallet)
                        grandTotalSpan.text('₹ ' + data.new_order_total.toFixed(2));
                        walletAmountSpan.text('-₹ ' + data.wallet); // Update the wallet amount
                    },
                    error: function(xhr, status, error) {
                        // Handle any errors that occur during the AJAX request
                        console.error('AJAX request to /checkout/wallet failed');
                    }
                });
            } else {
                // Reset the grand total and wallet amount to their original values
                grandTotalSpan.text('₹ ' + originalGrandTotal.toFixed(2));
                walletAmountSpan.text('₹ ' + originalWalletAmount.toFixed(2));
            }
        });
    });
    
    


</script>

<script>
    document.getElementById('rzp-button1').onclick = function (e) {
        e.preventDefault();

        var selectedAddressId = $("input[name='addressId']:checked").val();
      

        var useWalletCheckbox = $('#use_wallet').is(':checked');
        console.log(useWalletCheckbox)

        if (!selectedAddressId) {
            alert("Please select an address.");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/checkout/place_order/",  // Replace with the actual endpoint for creating orders
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}', // Include the CSRF token
                addressId: selectedAddressId, // Include the selected address ID
                useWallet: useWalletCheckbox
            },
            success: function (response) {
                // Check if the order creation was successful

                if (response.payment) {
                    // Open the Razorpay payment modal
         
                    razorpaycalling(response);

                } else {
                    // Handle error in order creation
                    alert("Failed to create the order.");
                }
            },
            error: function () {
                // Handle AJAX error
                alert("An error occurred while creating the order.");
            }
        });

        function razorpaycalling(response) {
            var options = {
                "key": "rzp_test_UAqDQGJ5B2qwiK", // Enter the Key ID generated from the Dashboard
                "amount": response.payment.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Fashion corporate",
                "description": "Transaction",
                "image": "https://example.com/your_logo",
                "order_id": response.payment.id, // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (razorpay_response) {
                    var paymentData = {
                        razorpay_payment_id: razorpay_response.razorpay_payment_id,
                        razorpay_order_id: razorpay_response.razorpay_order_id,
                        razorpay_signature: razorpay_response.razorpay_signature,
                    };
                    console.log(paymentData)
                    $.ajax({
                        type: 'POST',
                        url: '/checkout/verify_payment/', // Replace with the actual URL for payment verification
                        data: JSON.stringify({
                            paymentData: {
                                razorpay_payment_id: razorpay_response.razorpay_payment_id,
                                razorpay_order_id: razorpay_response.razorpay_order_id,
                                razorpay_signature: razorpay_response.razorpay_signature
                            }
                        }),
                        
                        success: function (verificationResponse) {
                            if (verificationResponse.success) {
                                // Payment is verified, you can redirect to the order_placed page
                                window.location.href = '/checkout/sucess_page';
                            } else {
                                alert('Payment verification failed. Please contact support.');
                            }
                        },
                        error: function () {
                            alert('Error verifying payment. Please try again later.');
                        }
                    });
                },
                "modal": {
                    "ondismiss": function () {
                        function deleteOrder(orderId) {
                            // Make an AJAX request to delete the order
                            $.ajax({
                                type: 'POST',
                                url: '/checkout/delete_order/',
                                data: {
                                    razorpay_order_id: orderId  // Include the Razorpay order ID in the data
                                },
                                success: function (response) {
                                    if (response.success) {
                                        location.reload();
                                    } else {
                                        alert('Failed to delete the order. Please contact support.');
                                    }
                                },
                                error: function () {
                                    alert('Error deleting the order. Please try again later.');
                                }
                            });
                        }
                        deleteOrder(response.payment.id);
                    }
                    
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#000000"
                }

            };

            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                function updateOrderStatus(razorpayOrderId) {
                    // Make an AJAX request to update the order status
                    $.ajax({
                        type: 'POST',
                        url: '/checkout/update_order_status/',
                        data: {
                            razorpay_order_id: razorpayOrderId
                        },
                        success: function (response) {
                            if (response.success) {
                                
                                window.location.href = '/checkout/payment_failed/'
                            } else {
                                alert('Failed to update order status. Please contact support.');
                            }
                        },
                        error: function () {
                            alert('Error updating order status. Please try again later.');
                        }
                    });
                }
                alert("Payment failed for order ID: " + response.error.metadata.order_id);
                var razorpayOrderId = response.error.metadata.order_id;
                updateOrderStatus(razorpayOrderId);
            });
            rzp1.open();
        }
    }
   
</script>

    
{% endblock %}