{% extends 'base/base.html' %} {% load static %} {% block head %}

<title>FASHION</title>

{% endblock head %} {% block content %}
{% include "base/nav.html" %}
<style>

    .form-check {
        display: block;
        margin-bottom: 10px;
    }


    .form-check-input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }


    .form-check-label {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }
     
    .form-check-input:checked {
        background-color: black; /* Change the background color to black */
        border-color: black; /* Change the border color to black (optional) */
        color: white; /* Change the text color to white (optional) */
    }


    .form-check-input:checked + .form-check-label {
        font-weight: bold; /* Change the font-weight to bold (optional) */
    }

</style>

<!-- checkout-area start -->
<div class="checkout-area ptb-100">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="checkbox-form">
                        <div class="d-flex">
                            <h3>Select Address</h3>
                            {% if  addresses %}
                            <a href="/account/add_address" class="btn btn-sm btn-dark" title="Add New Address">Add</a>
                            {% endif %}
                        </div>

                        <div class="different-address">
                            <div id="" class="row">
                                {% if addresses %}
                                    {% for address in addresses %}
                                        <div class="col-md-8 mb-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="form-check">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="addressId"
                                                            value="{{address.uid}}"
                                                            required
                                                        />
                                                        <label class="form-check-label" for="address<%= index %>">
                                                            <h5 class="card-title">{{address.user.first_name}}</h5>
                                                            <p class="card-text">
                                                                {{address.street_address}}, {{address.local_place}}, {{address.city}}, {{address.district}},{{address.state}}
                                                                {{address.pincode}}
                                                            </p>
                                                            <p class="card-text">Mobile: +91 {{address.phone_number}}</p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                   <p class="fs-6 text-dark">No Address Found! </p> 
                                    <a class="btn btn-dark h-auto " href="/account/add_address" style="width : 10rem;">Add Address</a>

                                </div>
                                  
                                {% endif %}
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% csrf_token %}
                                   
                                    {% for product in products %}
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            
                                            <small>{{product.product.name}}</small> 
                                            
                                            <strong class="product-quantity"> × {{product.quantity}}</strong>
                                        </td>

                                        <td class="product-total">
                                            <span class="amount">₹ {{product.calculate_sub_total}}</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    
                                    <tr class="cart-shipping fee">
                                        <th>Shipping Fee</th>
                                        <td><span class="amount">₹ 50</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td>
                                            <strong><span class="amount">₹ {{grand_total | add:50 }}</span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                {% if addresses %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 mb-3 pr-md-2">
                                            <input type="submit" name="submit_cod" class="btn btn-dark btn-block h-auto" value="Place order (Cash on Delivery)" />
                                        </div>
                                        <div class="col-md-6 pl-md-2">
                                            <button id="rzp-button1" type="submit" name="submit_razorpay" class="btn btn-dark btn-block h-auto">Pay with Razorpay</button>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                {% else %} 
                                    <span class="text-danger">Please Add an Address</span> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- checkout-area end -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% if cart_changed %}
<script>
    alert("Cart items have changed. Please review your order.");
    window.location.href = "{% url 'checkout_page' user_uid=request.user.profile.uid %}";
</script>
{% endif %}
<script>
    document.getElementById('rzp-button1').onclick = function (e) {
        e.preventDefault();

        var selectedAddressId = $("input[name='addressId']:checked").val();
        console.log(selectedAddressId)
        // Check if an address is selected
        if (!selectedAddressId) {
            alert("Please select an address.");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/checkout/place_order/",  // Replace with the actual endpoint for creating orders
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}', // Include the CSRF token
                addressId: selectedAddressId, // Include the selected address ID
            },
            success: function (response) {
                // Check if the order creation was successful

                if (response.payment) {
                    // Open the Razorpay payment modal
                    console.log(response.payment);
                    razorpaycalling(response);

                } else {
                    // Handle error in order creation
                    alert("Failed to create the order.");
                }
            },
            error: function () {
                // Handle AJAX error
                alert("An error occurred while creating the order.");
            }
        });

        function razorpaycalling(response) {
            var options = {
                "key": "rzp_test_UAqDQGJ5B2qwiK", // Enter the Key ID generated from the Dashboard
                "amount": response.payment.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Fashion corporate",
                "description": "Transaction",
                "image": "https://example.com/your_logo",
                "order_id": response.payment.id, // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (razorpay_response) {
                    var paymentData = {
                        razorpay_payment_id: razorpay_response.razorpay_payment_id,
                        razorpay_order_id: razorpay_response.razorpay_order_id,
                        razorpay_signature: razorpay_response.razorpay_signature,
                    };
                    console.log(paymentData)
                    $.ajax({
                        type: 'POST',
                        url: '/checkout/verify_payment/', // Replace with the actual URL for payment verification
                        data: JSON.stringify({
                            paymentData: {
                                razorpay_payment_id: razorpay_response.razorpay_payment_id,
                                razorpay_order_id: razorpay_response.razorpay_order_id,
                                razorpay_signature: razorpay_response.razorpay_signature
                            }
                        }),
                        
                        success: function (verificationResponse) {
                            if (verificationResponse.success) {
                                // Payment is verified, you can redirect to the order_placed page
                                window.location.href = '/checkout/sucess_page';
                            } else {
                                alert('Payment verification failed. Please contact support.');
                            }
                        },
                        error: function () {
                            alert('Error verifying payment. Please try again later.');
                        }
                    });
                },
                "modal": {
                    "ondismiss": function () {
                        function deleteOrder(orderId) {
                            // Make an AJAX request to delete the order
                            $.ajax({
                                type: 'POST',
                                url: '/checkout/delete_order/',
                                data: {
                                    razorpay_order_id: orderId  // Include the Razorpay order ID in the data
                                },
                                success: function (response) {
                                    if (response.success) {
                                        location.reload();
                                    } else {
                                        alert('Failed to delete the order. Please contact support.');
                                    }
                                },
                                error: function () {
                                    alert('Error deleting the order. Please try again later.');
                                }
                            });
                        }
                        deleteOrder(response.payment.id);
                    }
                    
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#000000"
                }

            };

            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                function updateOrderStatus(razorpayOrderId) {
                    // Make an AJAX request to update the order status
                    $.ajax({
                        type: 'POST',
                        url: '/checkout/update_order_status/',
                        data: {
                            razorpay_order_id: razorpayOrderId
                        },
                        success: function (response) {
                            if (response.success) {
                                
                                window.location.href = '/checkout/payment_failed/'
                            } else {
                                alert('Failed to update order status. Please contact support.');
                            }
                        },
                        error: function () {
                            alert('Error updating order status. Please try again later.');
                        }
                    });
                }
                alert("Payment failed for order ID: " + response.error.metadata.order_id);
                var razorpayOrderId = response.error.metadata.order_id;
                updateOrderStatus(razorpayOrderId);
            });
            rzp1.open();
        }
    }
</script>

    
{% endblock %}