{% extends 'base/base.html' %} {% load static %} {% block head %}

<title>FASHION</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Oswald:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 


{% endblock head %} {% block content %}
<style>
    .product-details-small a img,
.product-details-large .tab-pane img {
    transition: transform 0.3s;
    transform-origin: center center; /* Set the transform origin to the center */
}

.product-details-small a:hover img,
.product-details-large .tab-pane:hover img {
    transform: scale(0.8); /* Adjust the zoom factor as needed (0.8 means 80% of the original size) */
}
</style>

{% include "base/nav.html" %}

  <div class="product-details ptb-100 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 col-12">
                <div class="product-details-img-content">
                    <div class="product-details-tab mr-35 product-details-tab2">
                        <div class="product-details-small nav mr-10 product-details-2" role=tablist>
                            
                            <a class="active mb-10" href="#pro-details1" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="{{products.main_image.url}}" alt="">
                            </a>
                 
                            <a class="mb-10" href="#pro-details2" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="{{images.image_side.url}}" alt="">
                            </a>
                            <a class="mb-10" href="#pro-details3" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="{{images.image_up.url}}" alt="">
                            </a>
                            <a class="mb-10" href="#pro-details4" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="{{images.image_back.url}}" alt="">
                            </a>
                        </div>
                        <div class="product-details-large tab-content">
                            <div class="tab-pane active show fade" id="pro-details1" role="tabpanel">
                                <div class="">
                                        <img src="{{products.main_image.url}}" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-details2" role="tabpanel">
                                <div class="">   
                                    <img src="{{images.image_side.url}}" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-details3" role="tabpanel">
                                <div class="">                                
                                        <img src="{{images.image_up.url}}" alt="">                                 
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-details4" role="tabpanel">
                                <div class="">                           
                                        <img src="{{images.image_back.url}}" alt="">                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 col-lg-5 col-12">
                <div class="product-details-content">
                    {% include "base/message.html" %}
                    <h3>{{products.name}}</h3>
                    
                    <div class="details-price">
                        {% if product.price > product.selling_price %}
                            <p>
                                <span class="text-muted text-decoration-line-through fs-5">₹{{ products.price }}</span>
                                <span class=" fs-5">₹{{ products.selling_price }}</span>
                            </p>
                        {% else %}
                            <p class="fs-5">₹{{ products.selling_price }}</p>
                        {% endif %}
                    </div>
                    <p>{{products.description}}</p>
                    <p class="text-danger">{% if products.stock == 0 %}Out of Stock !{% endif %}</p>
                    <div class="quick-view-select">
                        
                        <div class="select-option-part">
                            <label>Color : {{products.color.color_name}}  </label>
                        </div>
                        <div class="select-option-part">

                           
                            <form method="POST">
                                {% csrf_token %}
                                <label>Size : </label>
                                
                                    <select name="size" id="">
                                        {% for size in sizes %}
                                        <option value="{{size.id}}">{{size.size}}</option>
                                        {% endfor %}
                                    </select>
                                
                            
                        </div>
                        
                    </div>
                    <div class="quickview-plus-minus">
                        
                        <div class="quickview-btn-cart">
                            {% if request.user.is_authenticated and request.user.is_staff is False %} 
                                <button type="submit" class="btn-dark py-2 px-2">Add to Cart</button>
                            </form>
                            {% else %}
                                <a class="btn-hover-black" href="/account/login/">Add to cart</a>
                            {% endif %}
                        </div>
                        <div class="quickview-btn-wishlist">
                            {% if request.user.is_authenticated and request.user.is_staff is False %} 
                                {% if products in wishlist %}
                                    <a href="/product/wishlist/{{user.uid}}/{{products.uid}}" class="btn-hover text-danger">
                                        <i class="pe-7s-like text-danger"></i>
                                    </a>
                                {% else %}
                                    <a href="/product/wishlist/{{user.uid}}/{{products.uid}}" class="btn-hover ">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a class="animate-left" title="Wishlist" href="/account/login/">
                                    <i class="pe-7s-like"></i>
                                </a>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="product-details-cati-tag mt-35">
                        <ul>
                            <li class="categories-title">Categories :</li>
                            <li><a href="#">{{products.category}}</a></li>

                        </ul>
                    </div>
                    
                    <div class="product-share">
                        <ul>
                            <li class="categories-title">Share :</li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-flikr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-description-review-area pb-90">
    <div class="container">
        <div class="product-description-review text-center">
            <div class="description-review-title nav" role=tablist>
                <a class="active" href="#pro-dec" data-bs-toggle="tab" role="tab" aria-selected="true">
                    Description
                </a>
                <a href="#pro-review" data-bs-toggle="tab" role="tab" aria-selected="false">
                    Reviews (0)
                </a>
            </div>
            <div class="description-review-text tab-content">
                <div class="tab-pane active show fade" id="pro-dec" role="tabpanel">
                    <p>{{products.description}}</p>
                </div>
                <div class="tab-pane fade" id="pro-review" role="tabpanel">
                    <a href="#">Be the first to write your review!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product area start -->
<div class="product-area pb-95">
    <div class="container">
        <div class="section-title-3 text-center mb-50">
            <h2>Related products</h2>
        </div>
        <div class="product-style">
            <div class="related-product-active owl-carousel">
                {% for product in category_products %}
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="/product/detail/{{product.uid}}">
                            <img src="{{product.main_image.url}}" alt="">
                        </a>
                        
                        <div class="product-action">
                            {% if request.user.is_authenticated and request.user.is_staff is False%}
                            <a class="animate-left" title="Wishlist" href="/product/wishlist/{{user.profile.uid}}/{{product.uid}}">
                              {% if product in wishlist %}
                              <i class="pe-7s-like text-danger"></i>
                              {% else %}
                              <i class="pe-7s-like"></i>
                              {% endif %}
                            </a>
                            <a class="animate-top" title="Add To Cart" href="#">
                              <i class="pe-7s-cart"></i>
                            </a>
                            {% else %}
                            <a class="animate-left" title="Wishlist" href="/account/login/">
                              <i class="pe-7s-like"></i>
                            </a>
                            <a class="animate-top" title="Add To Cart" href="/account/login/">
                              <i class="pe-7s-cart"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="/product/detail/{{product.uid}}">{{product.name}}</a></h4>
                        <span>Rs{{product.selling_price}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- product area end -->
<footer class="footer-area">
    <div class="footer-top-area bg-img pt-105 pb-65" style="background-image: url({% static "assets/img/bg/1.jpg" %})" data-overlay="9">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Custom Service</h3>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="register.html">My Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Track</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Categories</h3>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="shop.html">Dress</a></li>
                                <li><a href="shop.html">Shoes</a></li>
                                <li><a href="shop.html">Shirt</a></li>
                                <li><a href="shop.html">Baby Product</a></li>
                                <li><a href="shop.html">Mans Product</a></li>
                                <li><a href="shop.html">Leather</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Contact</h3>
                        <div class="footer-newsletter">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is dummy.</p>
                            <div id="mc_embed_signup" class="subscribe-form pr-40">
                                <form action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll" class="mc-form">
                                        <input type="email" value="" name="EMAIL" class="email" placeholder="Enter Your E-mail" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div class="mc-news" aria-hidden="true">
                                            <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value="">
                                        </div>
                                        <div class="clear">
                                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="footer-contact">
                                <p><span><i class="ti-location-pin"></i></span> 77 Seventh avenue USA 12555. </p>
                                <p><span><i class=" ti-headphone-alt "></i></span> +88 (015) 609735 or +88 (012) 112266</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom black-bg ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright">
                        <p>
                            Copyright ©
                            <a href="hastech.company/index.html">HasTech</a> 2022 . All Right Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>



</script>

<script>
    $(document).ready(function () {
        // Activate the first tab by default
        $('.product-details-small a:first').tab('show');
    
        // Handle tab changes to update the active class
        $('.product-details-small a').on('click', function () {
            $('.product-details-small a').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
<script>

</script>
{% endblock content%}